In [ ]:
import pandas as pd

In [42]:
# Load the dataset
df = pd.read_csv("salary_trends.csv")

# Step 1: Drop rows with missing 'level' or 'totalyearlycompensation'
df_cleaned = df.dropna(subset=['level', 'totalyearlycompensation'])

# Step 2: Standardize 'level' values
df_cleaned['level'] = df_cleaned['level'].str.upper().str.strip()

# Step 3: Define function to bucketize levels
def map_level(level_str):
    level_str = level_str.upper()
    if any(keyword in level_str for keyword in ['INTERN', 'NEW', 'JUNIOR', 'L1', 'I1', 'IC1']):
        return 'Entry'
    elif any(keyword in level_str for keyword in ['L2', 'I2', 'IC2', 'ASSOCIATE']):
        return 'Entry'
    elif any(keyword in level_str for keyword in ['L3', 'SDE I', 'ENGINEER I', 'I3', 'IC3']):
        return 'Mid'
    elif any(keyword in level_str for keyword in ['L4', 'SDE II', 'ENGINEER II', 'I4', 'IC4']):
        return 'Mid'
    elif any(keyword in level_str for keyword in ['L5', 'SENIOR', 'I5', 'IC5']):
        return 'Senior'
    elif any(keyword in level_str for keyword in ['L6', 'M1', 'MANAGER', 'I6', 'IC6']):
        return 'Senior'
    elif any(keyword in level_str for keyword in ['L7', 'M2', 'DIRECTOR', 'I7', 'IC7']):
        return 'Director'
    else:
        return 'Other'

# Step 4: Create level_bucket column
df_cleaned['level_bucket'] = df_cleaned['level'].apply(map_level)

# Step 5: Filter out "Other"
df_filtered = df_cleaned[df_cleaned['level_bucket'] != 'Other']

# Step 6: Create Table 1 DataFrame
table1_df = df_filtered.groupby('level_bucket')['totalyearlycompensation'].describe()[['mean', '50%', '25%', '75%']]
table1_df.rename(columns={'50%': 'median', '25%': 'Q1', '75%': 'Q3'}, inplace=True)
table1_df.reset_index(inplace=True)

# Step 7: Create Table 2 DataFrame
table2_df = df_filtered.groupby(['company', 'level_bucket'])['totalyearlycompensation'].describe()[['mean', '50%', '25%', '75%']]
table2_df.rename(columns={'50%': 'median', '25%': 'Q1', '75%': 'Q3'}, inplace=True)
table2_df.reset_index(inplace=True)

C:\Users\omgan\AppData\Local\Temp\ipykernel_10104\4091793053.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['level'] = df_cleaned['level'].str.upper().str.strip()
C:\Users\omgan\AppData\Local\Temp\ipykernel_10104\4091793053.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['level_bucket'] = df_cleaned['level'].apply(map_level)

In [43]:
# Output results
print("Table 1 - Compensation by Level Bucket:\n", table1)

Table 1 - Compensation by Level Bucket:
                        mean    median        Q1        Q3
level_bucket
Director      391926.401869  340000.0  230000.0  500000.0
Entry         134038.121171  122000.0   92000.0  163000.0
Mid           189509.889409  179000.0  140000.0  233000.0
Senior        254515.119372  230000.0  168500.0  315000.0

In [44]:
print("\nTable 2 - Compensation by Company and Level Bucket:\n", table2)

Table 2 - Compensation by Company and Level Bucket:
                                mean    median        Q1        Q3
company      level_bucket
10x Genomics Entry         173000.0  173000.0  167000.0  179000.0
             Mid           165000.0  165000.0  165000.0  165000.0
             Senior        242000.0  242000.0  238000.0  246000.0
23andMe      Entry         120000.0  120000.0  120000.0  120000.0
             Mid           194000.0  194000.0  157000.0  231000.0
...                             ...       ...       ...       ...
zoom         Entry         100000.0  100000.0  100000.0  100000.0
zoominfo     Entry         150000.0  150000.0  150000.0  150000.0
zoox         Entry         160000.0  160000.0  160000.0  160000.0
             Senior        263000.0  263000.0  227000.0  299000.0
 Google      Mid            91000.0   91000.0   91000.0   91000.0

[3132 rows x 4 columns]

In [45]:
# Both tables are now accessible as DataFrames: table1_df and table2_df
print("Table 1 DataFrame:\n", table1_df.head())

Table 1 DataFrame:
   level_bucket           mean    median        Q1        Q3
0     Director  391926.401869  340000.0  230000.0  500000.0
1        Entry  134038.121171  122000.0   92000.0  163000.0
2          Mid  189509.889409  179000.0  140000.0  233000.0
3       Senior  254515.119372  230000.0  168500.0  315000.0

In [47]:
print("\nTable 2 DataFrame:\n", table2_df)

Table 2 DataFrame:
            company level_bucket      mean    median        Q1        Q3
0     10x Genomics        Entry  173000.0  173000.0  167000.0  179000.0
1     10x Genomics          Mid  165000.0  165000.0  165000.0  165000.0
2     10x Genomics       Senior  242000.0  242000.0  238000.0  246000.0
3          23andMe        Entry  120000.0  120000.0  120000.0  120000.0
4          23andMe          Mid  194000.0  194000.0  157000.0  231000.0
...            ...          ...       ...       ...       ...       ...
3127          zoom        Entry  100000.0  100000.0  100000.0  100000.0
3128      zoominfo        Entry  150000.0  150000.0  150000.0  150000.0
3129          zoox        Entry  160000.0  160000.0  160000.0  160000.0
3130          zoox       Senior  263000.0  263000.0  227000.0  299000.0
3131        Google          Mid   91000.0   91000.0   91000.0   91000.0

[3132 rows x 6 columns]

In [52]:
table2_df[100:110]

,company,level_bucket,mean,median,Q1,Q3
100,Akamai,Director,377500.000000,377500.0,371250.0,383750.0
101,Akamai,Entry,82000.000000,82000.0,82000.0,82000.0
102,Akamai,Mid,125714.285714,135500.0,74750.0,163750.0
103,Akamai,Senior,186500.000000,197000.0,172500.0,219500.0
104,Akamai Technologies,Mid,157000.000000,157000.0,157000.0,157000.0
105,Akamai Technologies,Senior,152250.000000,153000.0,135250.0,170000.0
106,Akuna Capital,Entry,192750.000000,200000.0,185000.0,202500.0
107,Akuna Capital,Mid,200000.000000,200000.0,175000.0,225000.0
108,Alarm.com,Entry,115333.333333,118000.0,111500.0,120500.0
109,Alarm.com,Mid,136000.000000,136000.0,136000.0,136000.0

In [53]:
# Save Table 1 to CSV
table1_df.to_csv("Level_compensation_by_bucket.csv", index=False)

# Save Table 2 to CSV
table2_df.to_csv("Level_compensation_by_company.csv", index=False)

print("Tables saved as CSV files.")

Tables saved as CSV files.